#Task 1
- Referal ID : SIRSS1114
- Name : Utkarsh Farkya

In [ ]:
for i in range(5):
    for i in range(5 - i):
        print(f"5",end=' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
for i in range(5):
    for j in range(6 - i):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
for i in range(5):
    for j in range(i+1):
        print(f"{2 * i + 1}",end=' ')
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
for i in range(5):
    for j in range(i+1,0,-1):
        print(f"{j}",end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
count = 0
for i in range(1,5):
    count += i
    for j in range(count,count - i,-1):
        print(j,end = ' ')
    print()

1
3 2
6 5 4
10 9 8 7

In [24]:
for i in range(1,8):
    val = 1
    for j in range(1,i+1):
        print(val,end=" ")
        val = val * (i - j)//j
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
for i in range(1,6):
    for j in range(1,6):
        if j < i:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
for i in range(1,9):
    for j in range(i,i*i + 1,i):
        print(j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [27]:
for i in range(6):
    for j in range(5 + i):
        print(' ',end='')
    
    for j in range(6 - i):
        print('*',end=' ')

    print()

     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [30]:
for i in range(7):
    for j in range(5 + (7 - i)):
        print(' ',end='')

    for j in range(i+1):
        print('*',end='  ')
    print()

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [ ]:
for i in range(6):
    for j in range(i+1):
        print('*',end=' ')
    print()
print()

for i in range(6):
    for j in range(6 - i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5 * 2 - 1):
    val = i+1 if i < 5 else 10 - i - 1
    for j in range(val):
        print('*',end=' ')
    if i != 8:
        print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5 * 2 - 1):
    val = i+1 if i < 5 else 10 - i - 1
    for j in range(5 - val):
        print(' ',end=' ')

    for j in range(val):
        print('*',end=' ')
    
    if i != 8:
        print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(5 * 2):
    val = i if i < 5 else 10 - i - 1
    for j in range(val):
        print(' ',end='')

    for j in range(5 - val):
        print('*',end=' ')
    if i != 9:
        print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [32]:
for i in range(8,0,-1):
  x = ""
  for j in range(i):
    print('*',end='')
    x += '*'
  
  for j in range(8-i):
    print('_',end='')
    x += '_'

  print(x[::-1])

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*